<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
        <title>Add Pac</title>
    </head>
    <body>
        <center>
            <form method="POST" enctype='multipart/form-data' action="gravar_paciente">
                Nome: <input type="text" placeholder="Nome paciente" name="nome_paciente" required><br>
                cpf: <input type="tel" placeholder="xxx.xxx.xxx-xx" name="cpf" required><br>
                imagens: <input type="file" name="imagens" multiple><br>
                <input type="submit" value="Enviar >>">
            </form>
        </center>
    </body>
</html>