<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
        <title>Paciente {{ paciente['_id']}}</title>
    </head>
    <body>
        <center>
            <br><br>
            Paciente: {{ paciente['nome'] }}<br>
            CPF: {{ paciente['cpf'] }}<br>
            <br><br>
            <p>Imagens:</p>
            <ul>
                {% for item in paciente['imagens'] %}
                    <li style="list-style-type: none;">
                        <img width="60%" src="data:image/*;base64, {{ item['b64'] }}" alt="{{ item['nome_imagem'] }}"/>
                    </li>
                {% endfor %}
            </ul>
        </center>
    </body>
</html>